
.ui.text.container {
    margin-top: 7em;
}

#delete-form {
    display: inline;
}

p {
    padding-bottom: 20px;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    padding: 25px;
    margin-top: 60px;
    text-align: center;
 
}
